src/test/resources/config/connection.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">

    <wsc:config name="local">
        <wsc:connection wsdlLocation="http://localhost:${servicePort}/server?wsdl" service="TestService" port="TestPort" soapVersion="${soapVersion}"/>
    </wsc:config>

    <wsc:config name="rpcWsdl">
        <wsc:connection service="SoapResponder" port="SoapResponderPortType" wsdlLocation="#[vars.wsdl]" soapVersion="${soapVersion}"/>
    </wsc:config>

    <flow name="rpcConnection">
        <wsc:consume config-ref="rpcWsdl" operation="Method1"/>
    </flow>

</mule>
