src/test/resources/config/metadata.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">

    <wsc:config name="config">
        <wsc:connection address="http://localhost:${servicePort}/server"
                        service="TestService"
                        port="TestPort"
                        wsdlLocation="http://localhost:${servicePort}/server?wsdl"
                        soapVersion="${soapVersion}">
        </wsc:connection>
    </wsc:config>

    <wsc:config name="human-resources">
        <wsc:connection service="Human_ResourcesService"
                        port="Human_Resources"
                        address="http://dummy-metadata-address.com"
                        wsdlLocation="${humanWsdl}"
                        soapVersion="${soapVersion}">
        </wsc:connection>
    </wsc:config>

    <wsc:config name="invalid-service">
        <wsc:connection wsdlLocation="http://localhost:${servicePort}/server?wsdl" service="INVALID" port="TestPort"/>
    </wsc:config>

    <wsc:config name="invalid-port">
        <wsc:connection wsdlLocation="http://localhost:${servicePort}/server?wsdl" service="TestService" port="INVALID"/>
    </wsc:config>

    <flow name="getEchoMetadata">
        <wsc:consume config-ref="config" operation="echo">
            <wsc:message>
                <wsc:body>#[payload]</wsc:body>
            </wsc:message>
        </wsc:consume>
        <object-to-string-transformer/>
    </flow>

    <flow name="getNoParams">
        <wsc:consume config-ref="config" operation="noParams">
            <wsc:message>
                <wsc:body>#[payload]</wsc:body>
            </wsc:message>
        </wsc:consume>
        <object-to-string-transformer/>
    </flow>

    <flow name="getEchoHeadersMetadata">
        <wsc:consume config-ref="config" operation="echoWithHeaders">
            <wsc:message>
                <wsc:body>#[payload]</wsc:body>
            </wsc:message>
        </wsc:consume>
        <object-to-string-transformer/>
    </flow>

    <flow name="getEchoAccountMetadata">
        <wsc:consume config-ref="config" operation="echoAccount">
            <wsc:message>
                <wsc:body>#[payload]</wsc:body>
            </wsc:message>
        </wsc:consume>
    </flow>

    <flow name="oneWayMetadata">
        <wsc:consume config-ref="config" operation="oneWay">
            <wsc:message>
                <wsc:body>#[payload]</wsc:body>
            </wsc:message>
        </wsc:consume>
    </flow>

    <flow name="downloadAttachment">
        <wsc:consume config-ref="config" operation="downloadAttachment">
            <wsc:message>
                <wsc:body>#[payload]</wsc:body>
            </wsc:message>
        </wsc:consume>
        <object-to-string-transformer/>
    </flow>

    <flow name="uploadAttachment">
        <wsc:consume config-ref="config" operation="uploadAttachment">
            <wsc:message>
                <wsc:body>#[payload]</wsc:body>
            </wsc:message>
        </wsc:consume>
    </flow>

    <flow name="sharedHeader">
        <wsc:consume config-ref="human-resources" operation="Get_Employee">
            <wsc:message>
                <wsc:body>#[payload]</wsc:body>
            </wsc:message>
        </wsc:consume>
        <object-to-string-transformer/>
    </flow>

    <flow name="invalid-service-flow">
        <wsc:consume config-ref="invalid-service" operation="nothing"/>
    </flow>

    <flow name="invalid-port-flow">
        <wsc:consume config-ref="invalid-port" operation="nothing"/>
    </flow>

</mule>
