src/test/munit/common/common-flows.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
    <flow name="buildEchoRequest">
        <set-payload value="#[
                            %dw 2.0
                            output application/xml
                            ns con http://service.soap.service.mule.org/
                            ---
                            con#echo: {
                                text: vars.text
                            }]"/>
    </flow>

    <flow name="buildOneWayRequest">
        <set-payload value="#[
                            %dw 2.0
                            output application/xml
                            ns con http://service.soap.service.mule.org/
                            ---
                            con#oneWay: {}]"/>
    </flow>
</mule>