src/test/resources/config/wss/decrypt.xml
<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
    http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
    http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">

    <wsc:config name="decrypt">
        <wsc:connection wsdlLocation="http://localhost:${servicePort}/server?wsdl" service="TestService" port="TestPort">
            <wsc:web-service-security>
                <wsc:decrypt-security-strategy>
                    <wsc:key-store-configuration keyStorePath="security/ssltest-keystore.jks" keyPassword="changeit"
                                                 password="changeit" alias="s1as"/>
                </wsc:decrypt-security-strategy>
            </wsc:web-service-security>
        </wsc:connection>
    </wsc:config>

    <flow name="decryptFlow">
        <wsc:consume config-ref="decrypt" operation="echo">
            <wsc:message>
                <wsc:body>#[payload]</wsc:body>
            </wsc:message>
        </wsc:consume>
        <object-to-string-transformer/>
    </flow>
</mule>

