src/test/resources/config/wss/timestamp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule   xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
        xmlns:http="http://www.mulesoft.org/schema/mule/http"
        xmlns="http://www.mulesoft.org/schema/mule/core"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="
    http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
    http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
    http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">

    <wsc:config name="timestamp">
        <wsc:connection wsdlLocation="http://localhost:${servicePort}/server?wsdl" service="TestService" port="TestPort">
            <wsc:web-service-security>
                <wsc:timestamp-security-strategy timeToLive="30"/>
            </wsc:web-service-security>
        </wsc:connection>
    </wsc:config>

    <wsc:config name="less-than-a-second-config">
        <wsc:connection wsdlLocation="http://localhost:${servicePort}/server?wsdl" service="TestService" port="TestPort">
            <wsc:web-service-security>
                <wsc:timestamp-security-strategy timeToLive="10" timeToLiveUnit="MILLISECONDS"/>
            </wsc:web-service-security>
        </wsc:connection>
    </wsc:config>

    <flow name="timestampFlow">
        <wsc:consume config-ref="timestamp" operation="echo">
            <wsc:message>
                <wsc:body>#[payload]</wsc:body>
            </wsc:message>
        </wsc:consume>
        <set-payload value="#[payload.body]"/>
        <object-to-string-transformer/>
    </flow>

    <flow name="less-than-a-second-flow">
        <wsc:consume config-ref="less-than-a-second-config" operation="echo">
            <wsc:message>
                <wsc:body>#[payload]</wsc:body>
            </wsc:message>
        </wsc:consume>
        <set-payload value="#[payload.body]"/>
        <object-to-string-transformer/>
    </flow>

</mule>

