src/test/resources/config/wss/username.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule   xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
        xmlns:http="http://www.mulesoft.org/schema/mule/http"
        xmlns="http://www.mulesoft.org/schema/mule/core"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="
    http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
    http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
    http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">

    <wsc:config name="username">
        <wsc:connection wsdlLocation="http://localhost:${servicePort}/server?wsdl" service="TestService" port="TestPort">
            <wsc:web-service-security>
                <wsc:username-token-security-strategy username="admin" password="textPassword" addCreated="true" addNonce="true"/>
            </wsc:web-service-security>
        </wsc:connection>
    </wsc:config>

    <flow name="usernameFlow">
        <wsc:consume config-ref="username" operation="echo">
            <wsc:message>
                <wsc:body>#[payload]</wsc:body>
            </wsc:message>
        </wsc:consume>
        <set-payload value="#[payload.body]"/>
        <object-to-string-transformer/>
    </flow>
</mule>

