src/test/resources/config/wss/verify.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule   xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
        xmlns:http="http://www.mulesoft.org/schema/mule/http"
        xmlns="http://www.mulesoft.org/schema/mule/core"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
    http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
    http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">

    <wsc:config name="verify">
        <wsc:connection wsdlLocation="http://localhost:${servicePort}/server?wsdl" service="TestService" port="TestPort">
            <wsc:web-service-security>
                <wsc:verify-signature-security-strategy>
                    <wsc:trust-store-configuration trustStorePath="security/trustStore" password="mulepassword"/>
                </wsc:verify-signature-security-strategy>
            </wsc:web-service-security>
        </wsc:connection>
    </wsc:config>

    <flow name="verifyFlow">
        <wsc:consume config-ref="verify" operation="echo">
            <wsc:message>
                <wsc:body>#[payload]</wsc:body>
            </wsc:message>
        </wsc:consume>
        <set-payload value="#[payload.body]"/>
        <object-to-string-transformer/>
    </flow>
</mule>

