src/test/resources/config/transport/basic-auth-http-custom-transport.xml
<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
          http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
          http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">

    <wsc:config name="authorized-local-wsdl">
        <wsc:connection wsdlLocation="wsdl/simple-service.wsdl" service="TestService" port="TestPort"
                        soapVersion="${soapVersion}" address="http://localhost:${servicePort}/server">
            <wsc:custom-transport-configuration>
                <wsc:http-transport-configuration requesterConfig="basic-auth-requester"/>
            </wsc:custom-transport-configuration>
        </wsc:connection>
    </wsc:config>

    <wsc:config name="unauthorized-local-wsdl">
        <wsc:connection wsdlLocation="wsdl/simple-service.wsdl" service="TestService" port="TestPort"
                        soapVersion="${soapVersion}" address="http://localhost:${servicePort}/server">
            <wsc:custom-transport-configuration>
                <wsc:http-transport-configuration requesterConfig="unauthorized-requester"/>
            </wsc:custom-transport-configuration>
        </wsc:connection>
    </wsc:config>

    <wsc:config name="authorized-remote-wsdl">
        <wsc:connection wsdlLocation="http://localhost:${servicePort}/server?wsdl" service="TestService" port="TestPort"
                        soapVersion="${soapVersion}" address="http://localhost:${servicePort}/server">
            <wsc:custom-transport-configuration>
                <wsc:http-transport-configuration requesterConfig="basic-auth-requester"/>
            </wsc:custom-transport-configuration>
        </wsc:connection>
    </wsc:config>

    <wsc:config name="unauthorized-remote-wsdl">
        <wsc:connection wsdlLocation="http://localhost:${servicePort}/server?wsdl" service="TestService" port="TestPort"
                        soapVersion="${soapVersion}" address="http://localhost:${servicePort}/server">
            <wsc:custom-transport-configuration>
                <wsc:http-transport-configuration requesterConfig="unauthorized-requester"/>
            </wsc:custom-transport-configuration>
        </wsc:connection>
    </wsc:config>

    <http:request-config name="basic-auth-requester">
        <http:request-connection host="localhost" port="${servicePort}" protocol="HTTP">
            <http:authentication>
                <http:basic-authentication username="juani" password="changeIt"/>
            </http:authentication>
        </http:request-connection>
    </http:request-config>

    <http:request-config name="unauthorized-requester">
        <http:request-connection host="localhost" port="${servicePort}" protocol="HTTP">
            <http:authentication>
                <http:basic-authentication username="invalid" password="invalid"/>
            </http:authentication>
        </http:request-connection>
    </http:request-config>

    <flow name="basicAuthRequester">
        <wsc:consume config-ref="authorized-local-wsdl" operation="echo">
            <wsc:message>
                <wsc:body>#[payload]</wsc:body>
            </wsc:message>
        </wsc:consume>
        <object-to-string-transformer/>
    </flow>

    <flow name="unauthorizedRequest">
        <wsc:consume config-ref="unauthorized-local-wsdl" operation="echo">
            <wsc:message>
                <wsc:body>#[payload]</wsc:body>
            </wsc:message>
        </wsc:consume>
        <object-to-string-transformer/>
    </flow>

    <flow name="authorizedRemoteProtectedWsdl">
        <wsc:consume config-ref="authorized-remote-wsdl" operation="echo">
            <wsc:message>
                <wsc:body>#[payload]</wsc:body>
            </wsc:message>
        </wsc:consume>
        <object-to-string-transformer/>
    </flow>

    <flow name="unauthorizedRemoteProtectedWsdl">
        <wsc:consume config-ref="unauthorized-remote-wsdl" operation="echo">
            <wsc:message>
                <wsc:body>#[payload]</wsc:body>
            </wsc:message>
        </wsc:consume>
        <object-to-string-transformer/>
    </flow>

</mule>
