src/test/resources/config/transport/default-transport.xml
<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
          http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
          http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">

    <wsc:config name="wsc-config">
        <wsc:connection wsdlLocation="wsdl/simple-service.wsdl" service="TestService" port="TestPort"
                        soapVersion="${soapVersion}" address="http://localhost:${servicePort}/server">
            <wsc:custom-transport-configuration>
                <wsc:default-http-transport-configuration timeout="1"/>
            </wsc:custom-transport-configuration>
        </wsc:connection>
    </wsc:config>

    <flow name="timeoutError">
        <wsc:consume config-ref="wsc-config" operation="echo">
            <wsc:message>
                <wsc:body>#[payload]</wsc:body>
            </wsc:message>
        </wsc:consume>
    </flow>
</mule>
