src/test/munit/basic-auth-test-case.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
      xmlns:munit="http://www.mulesoft.org/schema/mule/munit"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools"
      xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:mule="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/munit-tools  http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd
      http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd
      http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
      http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <munit:config name="basic-auth-test-cases">
        <munit:parameterizations>
            <munit:parameterization name="">
                <munit:parameters>
                    <munit:parameter propertyName="servicePort" value="8080"/>
                    <munit:parameter propertyName="soapVersion" value="SOAP11"/>
                    <munit:parameter propertyName="serviceHost" value="localhost"/>
                    <munit:parameter propertyName="urlPath" value=""/>
                    <munit:parameter propertyName="requestConfig" value="basic-auth-requester" />
                </munit:parameters>
            </munit:parameterization>
        </munit:parameterizations>
    </munit:config>

    <!-- Configs -->

    <wsc:config name="authorized-local-wsdl">
        <wsc:connection wsdlLocation="wsdl/simple-service.wsdl" service="TestService" port="TestPort"
                        soapVersion="${soapVersion}" address="http://${serviceHost}:${servicePort}/${urlPath}">
            <wsc:custom-transport-configuration>
                <wsc:http-transport-configuration requesterConfig="basic-auth-requester"/>
            </wsc:custom-transport-configuration>
        </wsc:connection>
    </wsc:config>

    <wsc:config name="unauthorized-local-wsdl">
        <wsc:connection wsdlLocation="wsdl/simple-service.wsdl" service="TestService" port="TestPort"
                        soapVersion="${soapVersion}" address="http://${serviceHost}:${servicePort}/${urlPath}">
            <wsc:custom-transport-configuration>
                <wsc:http-transport-configuration requesterConfig="unauthorized-requester"/>
            </wsc:custom-transport-configuration>
        </wsc:connection>
    </wsc:config>

    <wsc:config name="authorized-remote-wsdl">
        <wsc:connection wsdlLocation="http://${serviceHost}:${servicePort}/${urlPath}?wsdl" service="TestService" port="TestPort"
                        soapVersion="${soapVersion}" address="http://${serviceHost}:${servicePort}/${urlPath}">
            <wsc:custom-transport-configuration>
                <wsc:http-transport-configuration requesterConfig="basic-auth-requester"/>
            </wsc:custom-transport-configuration>
        </wsc:connection>
    </wsc:config>

    <wsc:config name="unauthorized-remote-wsdl">
        <wsc:connection wsdlLocation="http://${serviceHost}:${servicePort}/${urlPath}?wsdl" service="TestService" port="TestPort"
                        soapVersion="${soapVersion}" address="http://${serviceHost}:${servicePort}/${urlPath}">
            <wsc:custom-transport-configuration>
                <wsc:http-transport-configuration requesterConfig="unauthorized-requester"/>
            </wsc:custom-transport-configuration>
        </wsc:connection>
    </wsc:config>

    <http:request-config name="basic-auth-requester">
        <http:request-connection host="localhost" port="${servicePort}" protocol="HTTP">
            <http:authentication>
                <http:basic-authentication username="juani" password="changeIt"/>
            </http:authentication>
        </http:request-connection>
    </http:request-config>

    <http:request-config name="unauthorized-requester">
        <http:request-connection host="localhost" port="${servicePort}" protocol="HTTP">
            <http:authentication>
                <http:basic-authentication username="invalid" password="invalid"/>
            </http:authentication>
        </http:request-connection>
    </http:request-config>

    <!-- Tests -->

    <flow name="buildRequest">
        <set-payload value="#[%dw 2.0
output application/xml
ns con http://service.soap.service.mule.org/
---
con#oneWay: {}]" />
    </flow>

    <munit:test name="requestWithHttpBasicAuthConfiguration">
        <munit:execution>
            <flow-ref name="buildRequest" />
            <wsc:consume config-ref="authorized-local-wsdl" operation="oneWay">
                <wsc:message>
                    <wsc:body>#[payload]</wsc:body>
                </wsc:message>
            </wsc:consume>
        </munit:execution>
    </munit:test>

    <munit:test name="authorizedRemoteProtectedWsdl">
        <munit:execution>
            <flow-ref name="buildRequest" />
            <wsc:consume config-ref="authorized-remote-wsdl" operation="oneWay">
                <wsc:message>
                    <wsc:body>#[payload]</wsc:body>
                </wsc:message>
            </wsc:consume>
        </munit:execution>
    </munit:test>

    <munit:test name="requestWithUnauthorizedConfiguration" expectedErrorType="HTTP:UNAUTHORIZED">
        <munit:execution>
            <flow-ref name="buildRequest" />
            <wsc:consume config-ref="unauthorized-local-wsdl" operation="oneWay">
                <wsc:message>
                    <wsc:body>#[payload]</wsc:body>
                </wsc:message>
            </wsc:consume>
        </munit:execution>
    </munit:test>

    <munit:test name="requestWithUnauthorizedRemoteConfiguration" expectedErrorType="HTTP:UNAUTHORIZED">
        <munit:execution>
            <flow-ref name="buildRequest" />
            <wsc:consume config-ref="unauthorized-remote-wsdl" operation="oneWay">
                <wsc:message>
                    <wsc:body>#[payload]</wsc:body>
                </wsc:message>
            </wsc:consume>
        </munit:execution>
    </munit:test>
</mule>